<div class="formCardContainer">
    <div class="formCard">
    <div class="column formContainer">
        <h1 class="formHeading">Login</h1>
        <form name="loginForm" id="login" ng-submit="logIn()" novalidate>
            <fieldset>
                <i class="fas fa-portrait"></i>
                <input type="text" id="username" name="username" placeholder="Username" ng-model="User.username" required>
                <span class="validationMsg" ng-show="loginForm.username.$touched && loginForm.username.$invalid">The Username is required.</span>
            </fieldset>
            <fieldset>
                <i class="fas fa-lock"></i>
                <input type="password" id="password" name="password" placeholder="Password" ng-model="User.password" required>
                <span class="validationMsg" ng-show="loginForm.password.$touched && loginForm.password.$invalid">The Password is required.</span>
            </fieldset>
            <div class="formbtnGroup">
                <input type="submit" value="Login">
            </div>
        </form>
        
    </div>
    <div class="column logColumn formSubText">
        <h1>Welcome to My Movie Gallery</h1>
        <p>Ex id est incididunt ullamco amet irure est. Dolore reprehenderit laborum veniam ea amet nostrud et amet anim. Eu commodo esse irure nisi amet magna do dolor aliqua ex reprehenderit.</p>
        <div class="altLinkGroup">
            <p>Don't have an account? <a href="#!register">Create your account </a></p>
        </div>
    </div>
    </div>
</div>
