<div class="formCardContainer">
    <div class="formCard">
    <div class="column formContainer">
        <h1 class="formHeading">Login</h1>
        <form name="loginForm">
            <fieldset>
                <i class="fas fa-portrait"></i>
                <input type="text" id="username" placeholder="Username" ng-model="User.username">
            </fieldset>
            <fieldset>
                <i class="fas fa-lock"></i>
                <input type="password" id="password" placeholder="Password" ng-model="User.password">
            </fieldset>
            
        </form>
        <div class="formbtnGroup">
            <input type="submit" value="Login">
        </div>
    </div>
    <div class="column logColumn formSubText">
        <h1>Welcome to My Movie Gallery</h1>
        <p>Ex id est incididunt ullamco amet irure est. Dolore reprehenderit laborum veniam ea amet nostrud et amet anim. Eu commodo esse irure nisi amet magna do dolor aliqua ex reprehenderit.</p>
        <div class="altLinkGroup">
            <p>Don't have an account? <a href="!register">Create your account </a></p>
        </div>
    </div>
    </div>
</div>
