<div class="formCardContainer">
    <div class="formCard">
        <div class="column regColumn formSubText">
            <h1>Welcome to My Movie Gallery</h1>
            <p>Nisi esse consequat et ipsum tempor. Aliquip ex irure duis velit in mollit dolor est. Consectetur elit exercitation in magna dolor excepteur nisi proident. Aute ullamco consequat eu sint. Tempor aute enim id laboris Lorem excepteur dolore duis occaecat elit. Adipisicing aliquip qui nulla irure mollit ipsum do non qui non magna veniam do ex.</p>
            <div class="altLinkGroup">
                <p>Already a member? <a href="!register">Log in</a></p>
            </div>
        </div>
    <div class="column fromContainer">
        <h1 class="formHeading">Register</h1>
        <form name="registerForm">
            <fieldset>
                <i class="fas fa-user"></i>
                <input type="text" id="name" placeholder="Name" ng-model="User.name">
            </fieldset>
            <fieldset>
                <i class="fas fa-portrait"></i>
                <input type="text" id="username" placeholder="Username" ng-model="User.username">
            </fieldset>
            <fieldset>
                <i class="fas fa-lock"></i>
                <input type="password" id="password" placeholder="Password" ng-model="User.password">
            </fieldset>
            
        </form>
        <div class="formbtnGroup">
            <input type="submit" value="Register">
        </div>
    </div>
    </div>
</div>