<div class="TiersContainer">
    <div class="Tier">
        <h1>
            Premium
        </h1>
        <p>Lorem ad voluptate pariatur enim qui ullamco tempor officia cupidatat reprehenderit quis est. Ex sint id sunt dolore reprehenderit occaecat reprehenderit adipisicing duis velit voluptate officia. Non anim pariatur nulla irure irure sit cupidatat et sint pariatur sit voluptate ex dolor. Labore qui magna deserunt cillum commodo dolor magna qui nulla aliqua esse irure minim.</p>
        <button ng-click="tierSelect(0)">Select</button>
    </div>
    <div class="Tier">
        <h1>
            Non-Premium
        </h1>
        <p>Ea laboris veniam consectetur aliqua consequat adipisicing sint. Pariatur ipsum eiusmod nisi sunt est. Anim officia culpa officia aliquip proident cillum excepteur officia. Veniam esse dolore laborum exercitation Lorem officia aliqua reprehenderit magna aliquip aliqua non. Irure ullamco culpa ea cupidatat amet amet occaecat eiusmod ullamco nulla.</p>
        <button ng-click="tierSelect(1)">Select</button>
    </div>
</div>